{% extends "./base.html" %}
{% load static %}
{% block title%} Cập nhật Sách {% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'js/admin/vendors/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid page-body-wrapper container-scroller">
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminPage:dashboard' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#books" aria-expanded="false" aria-controls="books">
              <i class="icon-book menu-icon"></i>
              <span class="menu-title">Sách</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="books">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'adminPage:books_List' %}"><i class="mdi mdi-information-outline"></i>Thông tin</a></li>
              </ul>
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'adminPage:book_Add' %}"><i class="mdi mdi-plus-circle"></i>Thêm</a></li>
              </ul>
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'adminPage:books_Update' %}"><i class="mdi mdi-sync"></i>Cập nhật</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="ti-user menu-icon"></i>
              <span class="menu-title">Người dùng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminPage:orders_List' %}">
              <i class="ti-view-list-alt menu-icon"></i>
              <span class="menu-title">Đơn hàng</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Bìa sách</h4>
                  <p class="card-description">
                    Ảnh của bìa sách
                  </p>
                  <div class="form-group">
                    <label for="FrontCover">Bìa trước</label>
                    <div class="form-group" id="displayFrontCover"></div>                    
                    <input type="file" id="FrontCover" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                      <input type="text" class="form-control file-upload-info" disabled placeholder="Tải ảnh lên">
                      <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Tải lên</button>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="BackCover">Bìa sau</label>
                    <div class="form-group" id="displayBackCover"></div>                    
                    <input type="file" id="BackCover" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                      <input type="text" class="form-control file-upload-info" disabled placeholder="Tải ảnh lên">
                      <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Tải lên</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Cập nhật Sách</h4>
                  <form class="form-sample">
                    <p class="card-description">
                      Thông tin sách
                    </p>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="bookTitle">Tên sách</label>
                          <input type="text" class="form-control" id="bookTitle" placeholder="Tôi Thấy Hoa Vàng Trên Cỏ Xanh" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="bookAuthor">Tác giả</label>
                          <input type="text" class="form-control" id="bookAuthor" placeholder="Nguyễn Nhật Ánh" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="bookCategory">Phân loại</label>
                          <input type="text" class="form-control" id="bookCategory" placeholder="Văn học" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="bookPrice">Giá</label>
                          <input type="text" class="form-control" id="bookPrice" placeholder="125.000đ" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="bookPublisher">Nhà xuất bản</label>
                          <input type="text" class="form-control" id="bookPublisher" placeholder="NXB Trẻ" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="bookCountry">Quốc gia</label>
                          <input type="text" class="form-control" id="bookCountry" placeholder="Vietnam" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="bookYearPublish">Năm phát hành</label>
                          <input type="text" class="form-control" id="bookYearPublish" placeholder="2010" />
                        </div>
                      </div>
                    </div>
                    <div class="row">  
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="bookQuantity">Số lượng</label>
                          <input type="text" class="form-control" id="bookQuantity" placeholder="100" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="bookDescription">Mô tả</label>
                          <textarea class="form-control" id="bookDescription" rows="9"></textarea>
                        </div>
                      </div>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                      <button type="submit" class="btn btn-primary mr-2">Thêm</button>
                      <button type="button" class="btn btn-secondary" onclick="window.location.href=''">Hủy</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
{% endblock %}
 
{% block extra_js %}
  <!-- Plugin js for this page -->
  <script src="{% static 'js/admin/vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
  <script src="{% static 'js/admin/vendors/select2/select2.min.js' %}"></script>
  <!-- Custom js for this page-->
  <script src="{% static 'js/admin/file-upload.js' %}"></script>
  <script src="{% static 'js/admin/typeahead.js' %}"></script>
  <script src="{% static 'js/admin/select2.js' %}"></script>
{% endblock %}
