{% extends "./base.html" %}

{% load static %}
{% block title%} Home {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/store/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/store/bookPage.css' %}" />

{% endblock %}

{% block content %}
    <div id="content" class="content section container">
        <div class="breadcrumb">
            <a class="breadcrumb-item" href="{% url 'store:home' %}">Trang chủ</a>
            <a class="breadcrumb-item">{{book.category}}</a>
            <a class="breadcrumb-item">{{book.title}}</a>
        </div>
        <div class="single-book row">
            <div class="single-book-img col-xl-4 col-lg-4">
                <div class="book-main-img">
                    <img src="{{image.path.url}}" alt="Mặt trước">
                </div>
                <div class="book-review-img">
                    {% for image in book.images.all %}
                        <img src="{{image.path.url}}" alt="Mặt trước" class="list-img">
                    {% endfor %}
                </div>
            </div>
            <div class="book-main col-xl-8 col-lg-8">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h2 class="book-heading">{{book.title}}</h2>
                    <h3 class="book-author">{{book.auth}}</h3>
                    <div class="book-info">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Nhà xuất bản</td>
                                    <td>{{book.publisher}}</td>
                                </tr>
                                <tr>
                                    <td>Quốc gia</td>
                                    <td>{{book.country.name}}</td>
                                </tr>
                                <tr>
                                    <td>Thể loại</td>
                                    <td>{{book.category}}</td>
                                </tr>
                                <tr>
                                    <td>Năm phát hành</td>
                                    <td>{{book.year_publish}}</td>
                                </tr>
                                <tr>
                                    <td>Số lượng sách còn lại</td>
                                    <td class="quantity">{{book.inventories.quantity}}</td>
                                </tr>
                                <tr>
                                    <td>Giá sách</td>
                                    <td>{{book.price}} đồng</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="book-num">
                        <button type="button" class="book-btn-sub">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="book-icon-num bi bi-dash-lg" viewBox="0 0 16 16">
                                <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
                            </svg>
                        </button>
                        <input type="text" class="book-num-input" name="quantity" value="1">
                        <button type="button" class="book-btn-add">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="book-icon-num bi bi-plus-lg" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                            </svg>
                        </button>
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                            {% if book.inventories.quantity <= 0 %}
                            <div class="alert alert-danger">*Sản phẩm đã hết hàng. Mong bạn quay lại sau.</div>
                            {% else %}
                            <button type="submit" class="add-cart">Thêm vào giỏ hàng</button>
                            <button type="button" class="view-cart">Xem giỏ hàng</button>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-danger">*Bạn chưa đăng nhập nên chưa có tính năng giỏ hàng.</div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class="book-review">
            <h3 class="book-review-heading">Nội dung</h3>
            <div class="book-review-main">
                <p>{{book.description}}</p>
            </div>
        </div>
        <div class="same-category">
            <h3 class="same-category-heading">Sách cùng thể loại</h3>
            <div class="same-category-list row">
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/bookPage.js' %}"></script>
{% endblock %}