<div class="cart-interface">
    <div class="your-cart">
        <h2 class="cart-heading">Giỏ Hàng</h2>
            <div class="cart-info">
                <table>
                    <thead>
                        <tr class="row row-head">
                            <th class="col-xl-5 col-lg-5">Sản phẩm</th>
                            <th class="col-xl-2 col-lg-2">Thể loại</th>
                            <th class="col-xl-2 col-lg-2">Số lượng</th>
                            <th class="col-xl-2 col-lg-2">Thành tiền</th>
                            <th class="col-xl-1 col-lg-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row row-cart">
                            <td class="col-xl-5 col-lg-5">
                                <div class="cart-book-info">
                                    <img src="" alt="">
                                    <div class="cart-book-main">
                                        <div class="cart-book-heading">
                                            <h5 class="cart-book-name">Mùa hạ mưa rơi</h5>
                                        </div>
                                        <div class="cart-book-body">
                                            <span class="cart-book-desc">Một tác phẩm hay</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="col-xl-2 col-lg-2">
                                <span class="cart-book-category">Văn học</span>
                            </td>
                            <td class="col-xl-2 col-lg-2">
                                <div class="cart-book-num">
                                    <button class="btn-sub">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="icon-num bi bi-dash-lg" viewBox="0 0 16 16">
                                            <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
                                        </svg>
                                    </button>
                                    <input type="hidden" name='cart' value="">
                                    <input type="text" class="cart-num" value="2">
                                    <button class="btn-add">
                                        <input type="hidden" id="book_quantity" value="10">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="icon-num bi bi-plus-lg" viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                                        </svg>
                                    </button>
                                    <input type="hidden" name='cart' value="">
                                </div>
                            </td>
                            <td class="col-xl-2 col-lg-2">
                                <span class="cart-book-price">200.000 đ</span>
                            </td>
                            <td class="col-xl-1 col-lg-1">
                                <button class="btn-remove">Xóa</button>
                                <input type="hidden" name='cart' value="">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="cart-sum">Giá trị đơn hàng: <span id="total">200.000</span> đồng</h4>
            </div>
            <div class="no-cart">
                <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/cart/9bdd8040b334d31946f49e36beaf32db.png"
                    alt="" class="no-cart-img">
                <p class="no-cart-text">Chưa Có Sản Phẩm</p>
                <div class="cart-submit-wrapper-2">
                    <button class="cart-out btn-effect">Thoát</button>
                </div>
            </div>
            <form class="form" action="" method="POST" onsubmit="return false;">
                <div class="form-submit">
                    <div class="cart-address">
                        <div class="input-address">
                            <label class="address-heading">Địa chỉ nhận:</label>
                            <input type="text" class="address-receive" placeholder="Nhập địa chỉ cụ thể" name="address"
                                value="Yên Thành" readonly required>
                            <div class="alert alert-danger error-address">*Bạn chưa nhập địa chỉ.</div>
                        </div>
                        <div class="checkbox-address">
                            <input type="checkbox" class="checkbox" checked>
                            <input type="hidden" name="address-default" value="Yên Thành">
                            <label class="address-heading">Địa chỉ mặc định</label>
                        </div>
                    </div>
                </div>
                <div class=" cart-submit-wrapper">
                    <button type="submit" class="cart-submit btn-effect">Xác nhận</button>
                    <button type="button" class="cart-out btn-effect">Thoát</button>
                </div>
            </form>
    </div>
    <div class="overlay"></div>
</div>
