{% extends "./base.html" %}
{% load static %}
{% load humanize %}
{% block title%} Home {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/store/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/store/slide.css' %}" />
{% endblock %}

{% block content %}
    <div id="slider">
        <div class="mySlides fadeup active">
            <img class="slide-img" src="{% static 'img/slidebook1.jpg' %}" alt="slidebook1">
            <div class="slide-text">
                <p> Our Library is Digital </p>
            </div>
        </div>
        <div class="mySlides fadeup">
            <img class="slide-img" src="{% static 'img/slidebook2.jpg' %}" alt="slidebook2">
            <div class="slide-text">
                <p> Our Shop </p>
            </div>
        </div>
        <div class="mySlides fadeup">
            <img class="slide-img" src="{% static 'img/slidebook3.jpg' %}" alt="slidebook3">
            <div class="slide-text">
                <p> Open New World</p>
            </div>
        </div>
        <a class="prev" >&#10094;</a>
        <a class="next" >&#10095;</a>
    </div>
    <div class="content container">
        <div class="section">
            <div class="content-heading">
                <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_dealhot.png">
                <h3>Xu hướng mua sắm</h3>
            </div>
            <div class="type">
                <button class = 'type-btn active'>Xu hướng trong tuần</button>
                <button class = 'type-btn'>Xu hướng trong tháng</button>
                <button class = 'type-btn'>Sách mới</button>
            </div>
            <div class="category-list row trending active">
                {% for book in bookOfDay %}
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="{% url 'store:bookPage' book.0 %}" class="book-item-link">
                            <img src="/media/{{book.9}}" class="book-img">
                            <h4 class="book-name">{{book.1}}</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">{{book.2}}</span>
                        </div>
                        <div class="book-item-category">
                            <p class="ddc-code">Thể loại: <span>{{book.3}}</span></p>
                        </div>
                        <div class="book-item-action" style="margin-bottom:0px;">
                            <span class="price">Giá: {{book.7|intcomma}}đ</span>
                            <span class="book-sold">SL: {{book.8}}</span>
                        </div>
                        <div class="book-item-action" style="justify-content:center;">
                            <span class="book-sold">Đã bán trong tuần: {{book.10}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="category-list row trending">
                {% for book in bookOfMonth %}
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="{% url 'store:bookPage' book.0 %}" class="book-item-link">
                            <img src="/media/{{book.9}}" class="book-img">
                            <h4 class="book-name">{{book.1}}</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">{{book.2}}</span>
                        </div>
                        <div class="book-item-category">
                            <p class="ddc-code">Thể loại: <span>{{book.3}}</span></p>
                        </div>
                        <div class="book-item-action" style="margin-bottom:0px;">
                            <span class="price">Giá: {{book.7|intcomma}}đ</span>
                            <span class="book-sold">SL: {{book.8}}</span>
                        </div>
                        <div class="book-item-action" style="justify-content:center;">
                            <span class="book-sold">Đã bán trong tháng: {{book.10}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="category-list row trending">
                {% for book in newBook %}
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="{% url 'store:bookPage' book.0 %}" class="book-item-link">
                            <img src="/media/{{book.9}}" class="book-img">
                            <h4 class="book-name">{{book.1}}</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">{{book.2}}</span>
                        </div>
                        <div class="book-item-category">
                            <p class="ddc-code">Thể loại: <span>{{book.3}}</span></p>
                        </div>
                        <div class="book-item-action">
                            <span class="price">Giá: {{book.7|intcomma}}đ</span>
                            <span class="book-sold">SL: {{book.8}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for category, books in context.items %}         
        <div class="section">
            <div class="content-heading">
                <h3>Sách {{category}}</h3>
            </div>
            <div class="category-list row">
                {% for book in books %}
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="{% url 'store:bookPage' book.id %}" class="book-item-link">
                            <!-- Lâu, chưa tối ưu khi có nhiều ảnh
                                làm sao để get một ảnh main duy nhất -->
                            {% for image in book.images.all %}
                                {% if image.main_image is True %}
                                    <img src="{{image.path.url}}" class="book-img">
                                {% endif %}
                            {% endfor %}
                            <h4 class="book-name">{{book.title}}</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">{{book.auth}}</span>
                        </div>
                        <div class="book-item-category">
                            <p class="ddc-code">Thể loại: <span>{{category}}</span></p>
                        </div>
                        <div class="book-item-action">
                            <span class="price">Giá: {{book.book_price.price|intcomma}}đ</span>
                            <span class="book-sold">SL: {{book.inventories.quantity}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="read-more">
                <a href="/shelf/?category={{category}}" class="read-more-btn">Xem thêm</a>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block extra_js %}
    <script src = "{% static 'js/slide.js' %}"></script>
    <script src = "{% static 'js/home.js' %}"></script>
{% endblock %}