{% extends "./base.html" %}

{% load static %}
{% block title%} Home {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/store/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/store/slide.css' %}" />
{% endblock %}

{% block content %}
    <div id="slider">
        <div class="mySlides fadeup active">
            <img class="slide-img" src="{% static 'img/slidebook1.jpg' %}" alt="slidebook1">
            <div class="slide-text">
                <p> Our Library is Digital </p>
            </div>
        </div>
        <div class="mySlides fadeup">
            <img class="slide-img" src="{% static 'img/slidebook2.jpg' %}" alt="slidebook2">
            <div class="slide-text">
                <p> Our Shop </p>
            </div>
        </div>
        <div class="mySlides fadeup">
            <img class="slide-img" src="{% static 'img/slidebook3.jpg' %}" alt="slidebook3">
            <div class="slide-text">
                <p> Open New World</p>
            </div>
        </div>
        <a class="prev" >&#10094;</a>
        <a class="next" >&#10095;</a>
    </div>
    <div class="content container">
        <div class="section">
            <div class="content-heading">
                <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_dealhot.png">
                <h3>Xu hướng mua sắm</h3>
            </div>
            <div class="type">
                <button class = 'type-btn active'>Xu hướng trong tuần</button>
                <button class = 'type-btn'>Xu hướng trong tháng</button>
                <button class = 'type-btn'>Sách mới</button>
            </div>
            <div class="category-list row">
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <a href="" class="read-more">
                    <button class="read-more-btn">Xem thêm</button>
                </a>
            </div>
        </div>
        <div class="section">
            <div class="content-heading">
                <h3>Sách kinh dị</h3>
            </div>
            <div class="category-list row">
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <div class="book-wrapper col-xl-2 col-lg-2">
                    <div class="book-item">
                        <a href="" class="book-item-link">
                            <img src="{% static 'img/book1.jpg' %}" class="book-img">
                            <h4 class="book-name">Sách 2</h4>
                        </a>
                        <div class="book-item-author">
                            <span class="book-author-name">Shiba</span>
                        </div>
                        <div class="book-item-action">
                            <p class="ddc-code">Thể loại: <span>Kinh dị</span></p>
                            <span class="book-sold">SL: 10</span>
                        </div>
                    </div>
                </div>
                <a href="" class="read-more">
                    <button class="read-more-btn">Xem thêm</button>
                </a>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block extra_js %}
    <script src = "{% static 'js/slide.js' %}"></script>
{% endblock %}