{% load static %}
<div id="header" class="header">
    <nav class="nav container">
        <a href="" class="logo"><img src="{% static 'img/logo_shop.jpg' %}"></a>
        <div class="nav-search">
            <form action="" class="form-search-book" autocomplete="off">
                <input type="text" name="info" class="search-input" placeholder="Nhập vào để tìm kiếm">
                <div class="select-wrapper">
                    <select name="choose" class="select-filter-book"
                        style="background-image: url()">
                        <option value="name">Tìm theo tên sách</option>
                        <option value="auth">Tìm theo tên tác giả</option>
                        <option value="publisher">Tìm theo nhà xuất bản</option>
                        <option value="country">Tìm theo quốc gia</option>
                    </select>
                </div>
                <button class="btn-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke-width="6" fill="currentColor"
                        class="icon-search bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
        </div>
        <div class="wrapper-nav">
            <ul class="nav_list">
                <li class="nav_list_link ">
                    <span class="nav-categories-heading">DANH MỤC</span>
                    <ul class="nav-categories">
                        <li class="nav-category">
                            <a href="" class="category-link" id="">Triết học</a>
                        </li>
                        <li class="nav-category">
                            <a href="" class="category-link" id="">Tôn giáo</a>
                        </li>
                        <li class="nav-category">
                            <a href="" class="category-link" id="">Ngôn ngữ</a>
                        </li>
                        <li class="nav-category">
                            <a href="" class="category-link" id="">Khoa học xã hội</a>
                        </li>
                        <li class="nav-category">
                            <a href="" class="category-link" id="">Khoa học tự nhiên</a>
                        </li>
                        <li class="nav-category">
                            <a href="" class="category-link" id="">Kỹ thuật</a>
                        </li>
                        <li class="nav-category">
                            <a href="" class="category-link" id="">Nghệ thuật</a>
                        </li>
                        <li class="nav-category">
                            <a href="" class="category-link" id="">Văn học</a>
                        </li>
                        <li class="nav-category">
                            <a href="" class="category-link" id="">Địa lý - lịch sử</a>
                        </li>
                    </ul>
                </li>
                <div class="header__navbar-item header__navbar-item--notify">
                    <div class="header_nofi-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="header_navbar-icon-link bi bi-bell-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                        </svg>
                    </div>
                    <span class="nav-nofi-notice" id='count-alert'>3</span>
                    <div class="header__notify">
                        <header class="header__notify-header">
                            <h3>Thông báo mới nhận</h3>
                                <span id="readed">Đánh dấu đã xem</span>
                        </header>
                        <ul class="header__notify-list">
                                <li class="header__notify-item">
                                    <div class="header__notify-link">
                                        <img src="https://cf.shopee.vn/file/b8ae87c9b51fb3b795eba17051a891b5" alt=""
                                            class="header__notify-img">
                                        <div class="header__notify-info">
                                            <span class="header__notify-name"></span>
                                        </div>
                                    </div>
                                </li>
                        </ul>
                        <footer class="header__notify-footer">
                            <a class="header__notify-footer-btn"></a>
                        </footer>
                    </div>
                </div>
                <li>
                    <div class="nav-cart">
                        <div class="header_cart-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="icon-cart bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                            </svg>
                        </div>
                        <span class="nav-cart-notice">3</span>
                        <div class="nav-cart-list">
                            <div class="nav-no-cart">
                                <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/cart/9bdd8040b334d31946f49e36beaf32db.png"
                                    alt="" class="nav-cart--no-cart-img">
                                <p class="nav-cart--no-cart-text">Chưa Có Sản Phẩm</p>
                            </div>
                            <div>
                                <h3 class="nav-cart-heading">Sản phẩm đã thêm</h3>
                                <ul class="nav-cart-list-item">
                                    <li class="nav-cart-item">
                                        <img src="" alt=""
                                            class="nav_cart-item-img">
                                        <div class="nav-cart-item-info">
                                            <div class="nav-cart-item-heading">
                                                <h5 class="nav-cart-item-name">
                                                </h5>
                                            </div>
                                            <div class="nav-cart-item-body">
                                                <span class="nav-cart-item-desc"></span>
                                                <span class="nav-cart-item-remove">Xóa</span>
                                                <input type="hidden" name='cart'>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <button class="btn-primary nav-cart-view btn-effect">Xem giỏ hàng</button>
                            </div>
                        </div>
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <div class="nav-logged-in">
                        <div class="nav-user">
                            <img src="{% static 'img/avatar-default.png' %}" alt="" class="nav-user-img">
                            <ul class="nav-user-menu">
                                <li class="nav-user-item">
                                    <a href="">Thông tin cá nhân</a>
                                </li>
                                <li class="nav-user-item">
                                    <a href="">Đơn mượn</a>
                                </li>
                                <li class="nav-user-item">
                                    <a href="{% url 'accounts:logout' %}">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <li><a class="nav_list_link login nav-not-logged-in" href="{% url 'accounts:login' %}">ĐĂNG NHẬP</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
