{% extends 'store/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/user/profile.css' %}">
{% endblock %}

{% block title %} Trang cá nhân {% endblock %}

{% block content %}
<!--     <input type="hidden" name="success" value="">
    <div class="overlay" id="overlay"></div>
    <div id="popup" class="popup">
        <div class="container">
            <div class="content-popup">
                <strong></strong>
            </div>
            <div class="clearfix">
                <a role="button" class="submitbtn">OK</a>
            </div>
        </div>
    </div> -->
    <div class="bootstrap snippet profile">
        <div class="profile-heading">
            <h1 class="profile-heading-text">HỒ SƠ CỦA TÔI</h1>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center sub-profile">
                        <div class="form-upload">
                            <input class="link-img" value="" readonly>
                            <input type="file" name="image" hidden>
                            <img src="{{user.image.url}}" class="avatar img-circle img-thumbnail" alt="avatar">
                            <button type="button" class="btn-pro btn-upload-img btn-upload"
                                style="margin-top:16px">Chọn ảnh</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="tab-content main-profile">
                        <!-- <form class="form" action="" method="post" id="registrationForm" autocomplete="off"> -->
                            <div class="edit-profile">
                                <h3 class="edit-profile-heading section-heading">Chỉnh sửa thông tin</h3>
                                <div class="form-group">
                                    <label class="lb account">
                                        <h4>Tên Đăng Nhập</h4>
                                    </label>
                                    <input type="text" class="form-control" name="username" autocomplete="off"
                                        value="{{user.username}}" disabled>
                                </div>
                                <div class="alert alert-danger"></div>
                                <div class="form-group">
                                    <label class="lb name">
                                        <h4>Họ Tên</h4>
                                    </label>
                                    <input type="text" class="form-control" name="name" autocomplete="off"
                                        value="{{user.name}}" maxlength="50"
                                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                </div>
                                <div class="alert alert-danger"></div>
                                <div class="form-group">
                                    <label class="lb email">
                                        <h4>Email</h4>
                                    </label>
                                    <input type="text" class="form-control" name="email" autocomplete="off"
                                        value="{{user.email}}" maxlength="50"
                                        data-type="email"
                                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                </div>
                                <div class="alert alert-danger"></div>
                                <div class="form-group">
                                    <label class="lb phone">
                                        <h4>Số Điện Thoại</h4>
                                    </label>
                                    <input type="text" class="form-control" name="phone" autocomplete="off"
                                        value="{{user.phone}}" maxlength="11"
                                        data-type="phone"
                                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                </div>
                                <div class="alert alert-danger"></div>
                                <div class="form-group">
                                    <label class="lb address">
                                        <h4>Địa Chỉ</h4>
                                    </label>
                                    <input type="text" class="form-control" name="address" autocomplete="off"
                                        value="{{user.address}}" maxlength="100"
                                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                </div>
                                <div class="alert alert-danger"></div>
                                <div class="form-group">
                                    <label class="lb birth">
                                        <h4>Ngày Sinh </h4>
                                    </label>
                                    <input type="date" class="form-control" name="birth" autocomplete="off"
                                        value='{{user.birth|date:"d-m-Y"}}' min="1900-01-01"
                                        max="2009-12-31">
                                </div>
                                <div class="alert alert-danger"></div>
                            </div>
                            <div class="btn-act">
                                <a href=""
                                    class="change-password-heading section-heading">Đổi mật khẩu</a>
                                <button class="btn-pro" type="submit">
                                    Lưu thông tin
                                </button>
                            </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/upload.js' %}" ></script>
{% endblock %}